
{% extends "layouts/index.twig" %}


{% block content %}

	<pre>Current actor is: {{ current_actor() }}</pre>

	<h1>Index View</h1>

	<i>Try to submit wrong or actual password to view home page. Real password is "secret"</i>

	<form action="{{ path_for("action.login") }}" method="post">
		<input type="text" name="name" placeholder="enter your name..."/>
		<input type="text" name="secret" placeholder="enter a password..."/>
		<button>Submit form</button>
	</form>

	<h2>Template values</h2>
	<pre>{{ dump() }}</pre>

	<div>
		<input type="button" id="btn_ajax" value="Get data by AJAX"/>
		<div id="ajax_content"></div>
	</div>

{% endblock %}


{% block js %}
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", () => {

			let btn = document.getElementById("btn_ajax");
			let content = document.getElementById("ajax_content");

			btn.onclick = async function (e)
			{
				try
				{
					let url = '/ajax/test';
					let response = await fetch(url);
					content.innerHTML = await response.text();
				}
				catch (e)
				{
					console.log("ERROR", e);
				}
			}
		});
	</script>
{% endblock %}


